<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gerador de Cards para Anki</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


</head>
<body>

<h1>Gerador de Cards para Anki</h1>

<!-- Exibe a mensagem de erro, caso haja -->
<div th:if="${error}" style="color: red;">
    <p th:text="${error}"></p>
</div>

<form action="/generate-cards" method="post">
    <textarea name="text" id="text" rows="10" cols="50" th:value="${text}" placeholder="Exemplo:
Frente: Flamengo é o maior do mundo?
Verso: Sim."></textarea><br><br>
    <div class="button-container">
        <button type="submit">Gerar Arquivo CSV</button>
    </div>
</form>
</body>
</html>
